name: CI/CD анализ безопасности

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  build:
    name: Сборка и генерация SBOM
    runs-on: windows-latest
    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Настройка JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Установка Maven
        uses: actions/setup-java@v4
        with:
          java-version: 17
          cache: maven
          distribution: temurin

      - name: Генерация SBOM
        run: mvn clean package

      - name: Сохранение SBOM как артефакта
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: target/bom.xml
          retention-days: 7

  security_analysis:
    name: Анализ зависимостей
    runs-on: windows-latest
    needs: build
    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Настройка JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Установка Maven
        uses: actions/setup-java@v4
        with:
          java-version: 17
          cache: maven
          distribution: temurin

      - name: Запуск Dependency Check
        run: mvn verify

      - name: Сохранение отчёта Dependency Check
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: target/dependency-check-report.html
          retention-days: 7


      # ---- загрузка SBOM в Dependency Track ----
      # - name: Отправка SBOM в Dependency Track
      #   run: |
      #     curl -X POST \
      #       -H "X-Api-Key: ${{ secrets.DT_API_KEY }}" \
      #       -F "bom=@target/bom.xml" \
      #       http://dependency-track-ip/api/v1/bom
