name: Java CI-CD Пайплайн

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    name: Сборка и тестирование (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-15-intel  # Intel
          - macos-latest    # Apple Silicon

    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Установка JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Сборка и тестирование
        run: mvn clean test
