name: Java CI-CD Пайплайн

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    name: Сборка и тестирование (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-15-intel  # Intel
          - macos-latest    # Apple Silicon

    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Установка JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Сборка и тестирование
        run: mvn clean test


  deploy:
    name: Деплой приложения (условный SSH)
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Сборка JAR-файла
        run: mvn clean package -DskipTests

      - name: Условный деплой по SSH
        run: |
          echo "Подключение к серверу ${{ secrets.SSH_HOST }} под пользователем ${{ secrets.SSH_USERNAME }}"
          echo "Передача JAR-файла на сервер..."
          mkdir -p deploy_demo
          cp target/ci-cd-1.0-SNAPSHOT.jar deploy_demo/
          echo "Деплой успешно завершён (симуляция)"